[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
black = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
flake8 = "*"
httpx = "*"
fastapi-health = "*"
starlette-exporter = "*"
pathlib = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
flake8 = "flake8"
test = "pytest"
