PATH_add /nix/store/xmq9iacy1fj1ybwq5hw47cw7p4w9wb01-codium/bin
PATH_add /nix/store/jbc7dqfp5i3i57qfa2j9nmxs04ivg3qb-codiumTools/bin
PATH_add /nix/store/gadjrs1i43lsqp8r4ijl8f11r8jf2k1n-default/bin
default
