
---
- name: wipe base dir
  ansible.builtin.include_tasks: wipe.yml
  when: web_app_full_wipe

- name: Deploy web app
  block:

  - name: create directory if not exist
    ansible.builtin.file:
        path: "{{web_app_dir}}"
        state: directory
        mode: "0755"
  - name: template docker-compose
    ansible.builtin.template:
        src: docker-compose.yml.j2
        dest: "{{web_app_dir}}/docker-compose.yml"
        owner: root
        group: root
        mode: "0600"
  - name: Start deploy
    ansible.builtin.docker_compose:
        project_src: "{{web_app_dir}}"
        state: present
        pull: true
    tags: ["web_app"]
