- name: Include wipe task list in play
  ansible.builtin.include_tasks: 01-wipe.yml
  when: web_app_full_wipe | bool
  tags: ["web_app", "web_app_wipe"]

- name: Deploy a web app
  block:
  - name: Create a directory if it does not exist
    ansible.builtin.file:
      path: "{{web_app_base_path }}"
      state: directory
      mode: '0755'

  - name: Template a file to /etc/file.conf
    ansible.builtin.template:
      src: docker-compose.yml.j2
      dest: "{{web_app_base_path}}/docker-compose.yml"
      owner: root
      group: root
      mode: '600'

  - name: Run docker compose services
    community.docker.docker_compose:
      project_src: "{{web_app_base_path}}"
      state: present
      pull: true
  tags: ["web_app"]


