---
- name: Wipe
  tags: ["run", "wipe"]
  include_tasks: wipe.yml
  when: full_wipe | bool

- name: Init
  tags: ["run"]
  block:
    - name: Initialize working dir
      file:
        path: "{{ path }}"
        state: directory
        mode: "0700"

    - name: Move docker-compose template to remote
      template:
        src: "docker-compose.yml.j2"
        dest: "{{ path }}/docker-compose.yml"
        mode: "700"

- name: Install Dependencies
  tags: ["run"]
  block:
    - name: Install pip
      package:
        name: "python3-pip"
        state: present

    - name: Install python docker-compose module
      pip:
        name: [ "docker", "docker-compose" ]
        state: present

- name: Start
  tags: ["run"]
  block:
    - name: Start with docker-compose
      docker_compose:
        project_src: "{{ path }}"
        state: present
        pull: true
