services:
  {{ web_app_python.name }}:
    image: {{ web_app_python.image }}
    container_name: {{ web_app_python.name }}
    ports:
      - "{{ web_app_python.in_port}}:{{ web_app_python.ext_port}}"