version: "3"

networks:
  loki:

services:
  app_python:
    image: alexdestdev/moscow_time:latest
    container_name: moscow_time
    mem_limit: 150m
    ports:
      - 5000:5000
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
        tag: "{{.ImageName}}|{{.Name}}"
    networks:
        - loki
  loki:
    container_name: monitoring.loki
    image: grafana/loki:${LOKI_VERSION:-2.6.1}
    mem_limit: 150m
    expose:
      - 3100
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/tmp/loki/
    command: -config.file=/etc/loki/local-config.yaml
    restart: unless-stopped
    networks:
        - loki
    labels:
      org.label-schema.group: "monitoring"  

  promtail:
    image: grafana/promtail:${LOKI_VERSION:-2.6.1}
    mem_limit: 150m
    container_name: monitoring.promtail
    expose:
      - 9080
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - promtail-data:/var/lib/promtail/positions
      - './configs/promtail.yml:/etc/promtail/promtail.yml'
    command:
      -config.file=/etc/promtail/promtail.yml
    restart: unless-stopped
    networks:
        - loki
    labels:
      org.label-schema.group: "monitoring"

  prometheus:
    image: prom/prometheus:latest
    mem_limit: 150m
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - './configs/prometheus.yaml:/etc/prometheus/prometheus.yaml'
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    ports:
      - "9090:9090"
    networks:
        - loki

  grafana:
    image: grafana/grafana:latest
    mem_limit: 150m
    container_name: monitoring.grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - './configs/datasources/loki.yaml:/etc/grafana/provisioning/datasources/loki_ds.yaml'
      - './configs/datasources/prometheus.yml:/etc/grafana/provisioning/datasources/prometheus_ds.yml'
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
    restart: unless-stopped
    networks:
        - loki
    expose:
      - 3000
    ports:
      - "3000:3000"
    labels:
      org.label-schema.group: "monitoring"
    logging:
      driver: "json-file"
      options:
        tag: "{{.ImageName}}|{{.Name}}"

volumes:
  grafana-data: {}
  loki-data: {}
  promtail-data: {}
  prometheus-data: {}
