version: '3.9'

x-logging: &loki-logging
  driver: json-file
  options:
    tag: "{{.ImageName}}|{{.Name}}"
    max-size: "200k"
    max-file: "10"

services:
  app_python:
    image: nurbakzh/app_python:latest
    ports:
      - 5001:5000
    logging: *loki-logging

  grafana:
    image: grafana/grafana:latest
    container_name: monitoring.grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - ${PWD}/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    expose:
      - 3000
    ports:
      - "3000:3000"
    labels:
      org.label-schema.group: "monitoring"
    logging: *loki-logging
    networks:
      - network

  promtail:
    image: grafana/promtail:2.6.1
    container_name: monitoring.promtail
    expose:
      - 9080
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - promtail-data:/var/lib/promtail/positions
      - ${PWD}/promtail/promtail.yml:/etc/promtail/promtail.yml
    command:
      - '-config.file=/etc/promtail/promtail.yml'
    logging: *loki-logging
    networks:
      - network

  loki:
    image: grafana/loki:2.6.1
    expose:
      - 3100
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    logging: *loki-logging
    networks:
      - network

  prometheus:
    image: prom/prometheus
    container_name: monitoring.prometheus
    expose:
      - 9090
    ports:
      - "9090:9090"
    volumes:
      - ${PWD}/prometheus/prometheus.yaml:/etc/prometheus-config.yaml
    command: --config.file=/etc/prometheus-config.yaml
    logging: *loki-logging
    networks:
      - network

networks:
  network:

volumes:
  grafana-data: {}
  loki-data: {}
  promtail-data: {}