
version: '3'

x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "100m"
    max-file: "10"
    tag: "{{.ImageName}}|{{.Name}}"

services:
  app_python:
    image: kamilakhamidullina/devops_lab3:latest
    ports:
      - 4444:4444
    logging: *default-logging

  app_javascript:
    image: kamilakhamidullina/devops_lab2_bonus:latest
    ports:
      - 8888:8888
    logging: *default-logging


  loki:
    container_name: monitoring.loki
    image: grafana/loki:${LOKI_VERSION:-2.6.1}
    expose:
      - 3100
    ports:
      - "3100:3100"
    volumes:
      - loki-data:/tmp/loki/
    command: -config.file=/etc/loki/local-config.yaml
    restart: unless-stopped
    logging: *default-logging

  promtail:
    image: grafana/promtail:${LOKI_VERSION:-2.6.1}
    container_name: monitoring.promtail
    expose:
      - 9080
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - promtail-data:/var/lib/promtail/positions
      - ${PWD}/promtail/promtail.yml:/etc/promtail/promtail.yml
    command:
      - '-config.file=/etc/promtail/promtail.yml'
    restart: unless-stopped
    logging: *default-logging
  
  grafana:
    image: grafana/grafana:latest
    container_name: monitoring.grafana
    volumes:
      - grafana-data:/var/lib/grafana
      - ${PWD}/grafana/provisioning/datasources/loki.yml:/etc/grafana/provisioning/datasources/loki.yml 
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
      - GF_SECURITY_ADMIN_USER=${ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${ADMIN_PASSWORD:-admin}
    restart: unless-stopped
    expose:
      - 3000
    ports:
      - "3000:3000"
    logging: *default-logging

volumes:
  grafana-data: {}
  loki-data: {}
  promtail-data: {}