version: '3.9'
services:

  app_python:
    image: emileyray/flask:latest
    mem_limit: 100m
    ports:
      - 5000:5000
    logging:
      driver: json-file
      options:
        tag: "{{.ImageName}}|{{.Name}}"

  loki:
    image: grafana/loki:2.6.1
    mem_limit: 100m
    expose:
      - 3100
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml

  promtail:
    image: grafana/promtail:2.6.1
    mem_limit: 100m
    expose:
      - 9080
    ports:
      - "9080:9080"
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - promtail-data:/var/lib/promtail/positions
      - ./promtail.yml:/etc/promtail/promtail.yml
    command: -config.file=/etc/promtail/promtail.yml
    labels:
      org.label-schema.group: "monitoring"

  prometheus:
    image: prom/prometheus:${PROMETHEUS_VERSION:-v2.39.1}
    mem_limit: 100m
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/usr/share/prometheus/console_libraries'
      - '--web.console.templates=/usr/share/prometheus/consoles'
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    mem_limit: 100m
    volumes:
      - ./datasources/loki.yml:/etc/grafana/provisioning/datasources/loki_ds.yml
      - ./datasources/prometheus.yml:/etc/grafana/provisioning/datasources/prometheus_ds.yml
    environment:
      - GF_PATHS_PROVISIONING=/etc/grafana/provisioning
    expose:
      - 3000
    ports:
      - "3000:3000"

volumes:
  promtail-data: {}
  prometheus-data: {}