<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WTIIIM?</title>
</head>
<body>
<h2>What time is it in Moscow?</h2>
<strong>It turns out it is currently </strong> <%= time_msk %> <strong>in Moscow</strong>
</body>
</html>