body{
    text-align: center;
    background-color: antiquewhite;
    margin: 0px 12px 0px 12px;
}

p{
    font-size: 4rem;
}

h1 {
    font-size: 3rem;
    color: rgb(131, 85, 26);
    margin-top: -30px;
}