<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="5"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Shows current MSK time"/>
    <meta name="keywords" content="MSK,time"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Time page</title>
  </head>
  <body>
    <h1>Current Moscow time (UTC+3:00):</h1>
    <h3>{{ time_msk }}</h3>
  </body>
</html>
