global:
  scrape_interval:     5s
  evaluation_interval: 5s

scrape_configs:
  - job_name: prometheus
    scrape_interval: 10s
    static_configs:
      - targets:
        - localhost:9090

  - job_name: loki
    scrape_interval: 10s
    static_configs:
      - targets:
        - loki:3100

  - job_name: app
    static_configs:
      - targets:
        - app_python:5000
