<html>
<head>
    <title>Московское время / Moscow time</title>
    <link rel="icon" href="{{ url_for('static', path='/favicon.png') }}" sizes="32x32" />
</head>
<body>
    <div style="text-align: center; color:#808080; font-size:15px;">Точное московское время</div>
    <div style="width: 99%; height:150px; position: absolute; top:50%; margin-top: -75px; text-align:center; font-size:150px; font-weight:bold">{{msktime}}</div>
    <div style="width: 99%; height: 25px; position: absolute; bottom:0px; text-align: center; color:#808080; font-size:15px">Moscow time</div>
</div>
</body>
</html>
