[defaults]

# (pathspec) Colon separated paths in which Ansible will search for Roles.
roles_path=roles

# (pathlist) Comma separated list of Ansible inventory sources
inventory=inventory

# (pathspec) Colon separated paths in which Ansible will search for Inventory Plugins.
inventory_plugins=plugins/inventory
