[defaults]
inventory=./inventory
host_key_checking=False
playbook_dir=./playbooks
roles_path=~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles:./roles
inventory_plugins=./plugins/inventory:~/.ansible/plugins/inventory:/usr/share/ansible/plugins/inventory