@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
html,body {
    height: 100%;
}
body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0a2e38  0%, #000000 70%);
    background-size: 100%;
}
p {
    margin: 0;
    padding: 0;
}
#clock {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}
.time {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}
.date {
    letter-spacing: 0.1em;
    font-size: 30px;
}
.text {
    letter-spacing: 0.15em;
    font-size: 16px;
    padding: 20px 0 0;
}