<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="author" content="Ilya Kolomin"/>
        <meta name="description" content="Simple web page that shows current moscow time"/>
        <meta name="keywords" content="moscow timezone time"/>
        <title>Current Moscow Time</title>
    </head>
    <body>
        <h1>{{ time }}</h1>
    </body>
</html>