name: App PHP

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup PHP with PCOV
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        ini-values: pcov.directory=api
        coverage: pcov
