name: Lint

on: [push, pull_request]

jobs:
  build:
    name: Run ESLint
    runs-on: ubuntu-latest
    steps:
      
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: git config --global url."https://${{ secrets.PAT }}@github.com/".insteadOf ssh://git@github.com/
      - run: npm ci

      - uses: eslint/github-action@v0