name: Python package

on:
  push:
    branches:
      - $default-branch
    paths:
      - 'app_python/**'
      - '.github/workflows/python-package.yml'
  pull_request:
    branches:
      - lab*
      - $default-branch
    paths:
      - 'app_python/**'
      - '.github/workflows/python-package.yml'


jobs:
  lint:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Black linter for python
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "app_python/src"
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r app_python/requirements.txt
      - name: Run tests with pytest
        run: |
          pytest .