name: python and docker image build

on:
  push:
    paths:
      - "app_python/*"

defaults:
  run:
    working-directory: ./app_python

jobs:
  lint_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -r requirements.txt
      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
      - name: Test with pytest
        run: |
          pytest
  snyk:
    runs-on: ubuntu-latest
    container: snyk/snyk:python-3.9
    steps:
      - uses: actions/checkout@v3
      - name: Test with snyk
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          pip install -r requirements.txt
          snyk test --sarif-file-output=result.sarif
      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: app_python/result.sarif

  build_docker:
    runs-on: ubuntu-latest
    steps:
      - name: CHeckout to branch
        uses: actions/checkout@v3

      - name: Login to docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and Push
        uses: docker/build-push-action@v2
        with:
          context: "{{defaultContext}}:app_python"
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/devops-labs:latest
          cache-from: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/devops-labs:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_HUB_USERNAME }}/devops-labs:buildcache,mode=max
